* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #020a18;
}

.header__link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 40px 16px;
}

.header__link:hover {
    color: #3A68B8;
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1147px;
}

.header {
    margin-bottom: 160px;
}


.subtitle {
    color: #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-bottom: 40px;
}

.text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.main__link {
    border-radius: 5px;
    background: #3A68B8;
    padding: 1rem 2rem;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
    margin-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main__left {
    width: 47%;
}

.main__right {
    width: 47%;
    display: flex;
    justify-content: end;
}

.main {
    margin-bottom: 200px;
}

.logo {
    margin-bottom: 99px;
}

.block {
    border-radius: 10px;
    background: #132035;
}

.block__big {
    border-radius: 10px;
    background: #132035;
    grid-column: snap 2;
    grid-row: snao 2;
}

.img__block {
    padding: 30px 132px;
}

.img__block__big {
    padding: 30px 224px 224px 60px;
}

.title__block {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */
    padding: 0px 30px 30px 30px;
}

.title__block__big {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */
    padding: 0px 30px 30px 60px;
}


.text__block {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    /* 25.6px */
    padding: 0px 30px 30px 30px;
}

.text__block__big {
    padding: 0px 30px 30px 30px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    /* 25.6px */

}

.nav_info {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 263px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 257px;
}